SUPABASE_PROJECT_ID="__REPLACE_ME__"
SUPABASE_PUBLISHABLE_KEY="__REPLACE_ME__"
SUPABASE_URL="__REPLACE_ME__"
VITE_SUPABASE_PROJECT_ID="__REPLACE_ME__"
VITE_SUPABASE_PUBLISHABLE_KEY="__REPLACE_ME__"
VITE_SUPABASE_URL="__REPLACE_ME__"
